.container_class {
    border: solid black 2px;
    text-align: center;
    display: inline-block;
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    background-color: black;
}

.container_class header {
    color: red;
    text-align: center;
    background-color: black;
    padding: 25px;
    font-size: 35px;
    animation: blinkingText 1.2s infinite;
} /* Cool blinking text ;) */
@keyframes blinkingText{
    0%{     color: white;    }
    49%{    color: white; }
    60%{    color: red; }
    99%{    color: red;  }
    100%{   color: white;    }
}

.container_body {
    background-color: black;
}

.phrase_container {
    display: inline-block;
}

input[type=text] {
    padding: 6px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 220px;
}

.footer {
    color: black;
    text-align: center;
    background-color: white;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.footer a {
    text-decoration: none;
}

.search_btn {
    padding: 3px;
    width: 100px;
}

.trending_btn {
    background-color: blue;
    color: white;
    padding: 5px;
}

.random_btn {
    background-color: red;
    color: white;
    padding: 5px;
}